@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #44A2C0

}

/* HEADER*/  

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 200px;
    position: sticky;
}
.logomcizarr{
    height: 200px;
    width: 400px;   
}
.lista-nav{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    border: 5px #44A2C0 solid;
    border-radius: 25px;
    padding: 25px 5px;
    margin: 20px;    
}
.lista-nav a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;      
}

/* MAIN Index*/

main h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    text-decoration: underline;
    padding: 40px;
    display: flex;
    justify-content: center;
    color:black;    
}
main h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    color:black;    
}
main h3{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    color:white;    
}
main h4{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    padding: 50px;
    display: flex;
    justify-content: center;
    color:black;    
}
.videosyoutube{
    display: flex;
    justify-content: center;
}
main iframe{
    border: 8px solid black;
}
.parrafovideos{
    display: flex;
    justify-content: center;
    padding: 60px;

}
.parrafovideos p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px; 
    color: black;  
    padding: 10px; 
    border: 5px solid black;   
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;   
}

/*FOOTER*/

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 150px;    
 }
 .listalogos{
    display: flex;   
    list-style: none;       
 }
.logosfooter{
    margin-right: 100px;
}
 .logos{
    display: flex;
    justify-content: space-around; 
    height: 65px;
    width: 65px;
    border: 2.5px #44A2C0 solid;
 }
 .logomcizarrfooter{
    height: 150px;
    width: 350px; 
 }

/*MAIN BEATMAKER*/

 .grid-contenedor{
    display: grid;
    gap: 80px;
    background-color: #44A2C0;
    grid-template-columns: 1fr 1fr ; 
    grid-template-rows: 1fr 1fr;
    padding: 80px;        
 }
 .grid-contenedor div{
    background-color: black;
    border: 2.5px black solid;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
 }
.imagengrid{
    height: 500px;
    width: 700px;
    border: 2.5px #44A2C0 solid;
}
.grid-contenedor p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    color: white;  
    padding: 10px;
    margin: 10px; 
    border: 5px solid #44A2C0; 
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;   
}

/*MAIN ARTISTAS*/

.artistas-class p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    color: black;  
    padding: 10px;
    margin-bottom: 100px; 
    border: 5px solid black; 
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;  
}
.tituloart{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;  
}  
.carousel-inner{
    padding: 100px;
}
.carousel-inner img{
    height: 800px;
    width: 700px;
    border: 5px solid black; 
}

/*MAIN PISTAS*/

.pistas-class p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    color: black;  
    padding: 10px;
    margin: 100px;     
    border: 5px solid black; 
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    
}

/*MAIN QUIENES SOMOS*/

.mb-3{   
    
    height: 300x;
    margin: 0px 500px 0px 500px;
   
}
.quienes-class{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.quienes-class p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    color: black;  
    padding: 10px;
    margin: 10px; 
    

}
.map-quienes{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}
.div-mision{
    border: 5px solid black; 
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px; 
    margin: 100px;
    


}
.div-vision{
    border: 5px solid black; 
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    margin: 100px; 

    
}



/*RESPONSIVE*/
@media screen and (max-width: 480px){
/*Modificaciones Header*/
header{
    flex-direction: column;
    height: 150px;    
}
.logomcizarr{
    height: 100px;
    width: 300px;   
}  
.lista-nav{
    width: 450px;
    border: 2.5px #44A2C0 solid;
    border-radius: 5px;
    padding: 5px 2px 5px 2px;
    margin: 1px;
} 
.lista-nav a{
    font-size: 12.5px;
}

/*Modificaciones Main Index*/

main h1{
    font-size: 40px;
    padding: 20px;
}
main h2{
    font-size: 20px;
    padding: 20px;
}
.parrafovideos{
    padding: 30px;
}
.parrafovideos p{
    font-size: 15px;
}
/*Modificaciones FOOTER*/
footer{
    flex-direction: column-reverse;
    height: 200px;
}
    
.logosfooter{
    margin-right: 50px;
}
.logos{
    height: 50px;
    width: 50px;

}
.logomcizarrfooter{
    height: 100px;
    width: 300px; 
 }

 /*MODIFICACIONES MAIN BEATMAKERS*/

 .grid-contenedor{
    grid-template-columns: 1fr ; 
    grid-template-rows: 1fr;
    grid-template-areas: 
    "div1"
    "div2"
    "div4"
    "div3"
    "div5"
    "div6"
    ;
   gap: 5px;
   padding: 0px;
 }
 .grid-div1{
    grid-area: div1;
 }
 .grid-div2{
    grid-area: div2;
 }
 .grid-div3{
    grid-area: div3;
 }
 .grid-div4{
    grid-area: div4;
 }
 .grid-div5{
    grid-area: div5;
 }
 .grid-div6{
    grid-area: div6;
 }

 .grid-contenedor div{

    height: 400px;
    

 }

 .imagengrid{
    height: 300px;
    width: 300px;
    

 }

 .grid-contenedor p{
    font-size: 15px; 

 }
 main h3{
    font-size: 20px;
    padding: 20px;
}





}
