/*RESPONSIVE*/
@media screen and (max-width: 480px) {

    /*Modificaciones Header*/
    header {
        @include flex (column, center, center);
        height: 150px;

        .logomcizarr {
            height: 100px;
            width: 300px;
        }

        .lista-nav {
            width: 450px;
            border: 2.5px $celeste solid;
            border-radius: 5px;
            padding: 5px 2px 5px 2px;
            margin: 1px;
        }

        .lista-nav a {
            font-size: 12.5px;
        }
    }

    /*Modificaciones Main Index*/
    main {
        h1 {
            font-size: 40px;
            padding: 20px;
        }

        h2 {
            font-size: 20px;
            padding: 20px;
        }

        .parrafovideos {
            padding: 30px;

            p {
                font-size: 10px;
            }
        }

    }

    /*Modificaciones FOOTER*/
    footer {
        @include flex (column-reverse, center, center);
        height: 200px;

        .logomcizarrfooter {
            height: 100px;
            width: 300px;
        }

        .listalogos {


            .logosfooter {
                margin-right: 50px;

                .logos {
                    height: 50px;
                    width: 50px;
                }
            }
        }

    }


    /*MODIFICACIONES MAIN BEATMAKERS*/
    main {
        .grid-contenedor {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
                "div1"
                "div2"
                "div4"
                "div3"
                "div5"
                "div6"
            ;
            gap: 5px;
            padding: 0px 0px 5px 0px;


            .grid-div1 {
                grid-area: div1;
            }

            .grid-div2 {
                grid-area: div2;
            }

            .grid-div3 {
                grid-area: div3;
            }

            .grid-div4 {
                grid-area: div4;
            }

            .grid-div5 {
                grid-area: div5;
            }

            .grid-div6 {
                grid-area: div6;
            }

            div {
                height: 400px;
                width: 100%;

                .imagengrid {
                    height: 300px;
                    width: 300px;


                }

                p {
                    font-size: 10px;

                }


            }

            h3 {
                font-size: 20px;
                padding: 20px;
            }

        }

    }

    /*MAIN PISTAS*/

    main .pistas-class {
        p {
            font-size: 10px;
            margin: 30px;
        }

    }


    /*MAIN QUIENES SOMOS*/
    main .quienes-class {
        p {
            font-size: 10px;
            padding: 10px;
            margin: 10px;
        }

        .map-quienes {
            padding: 100px;

            iframe {
                height: 300px;
                width: 400px;
            }

        }

        .div-mision {
            margin: 50px;
        }

        .div-vision {
            margin: 50px;
        }

        .mb-3 {
            width: 300px;

        }

        h3 {
            padding: 15px;
        }
    }

    /*MAIN ARTISTAS*/
    main {
    .artistas-class p {      
      font-size: 10px;      
      padding: 10px;
      margin-bottom: 50px;   
    }
    .artistas-class .carousel-inner {
      padding: 30px;
    }
    .artistas-class .carousel-inner img {
      height: 350px;
      
    }
    h4 {        
        font-size: 50px;
        padding: 20px;       
      }

}


}