/*MAIN PISTAS*/

main {
    .pistas-class p {
        @include flex (row, center, center);
        font-family: $font;
        font-size: 20px;
        color: $negro;
        padding: 10px;
        margin: 100px;
        border: 5px solid $negro;
        border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
    }
}