/*MAIN QUIENES SOMOS*/
main {
    .quienes-class {
        @include flex (column, center, center);

        p {
            @include flex (row, center, center);
            font-family: $font;
            font-size: 25px;
            color: $negro;
            padding: 10px;
            margin: 10px;
        }

        .map-quienes {
            @include flex (row, center, center);
            padding: 100px;
        }
        .div-misionvision{
            @include flex (row, center, center);

        }

        .div-mision {
            border: 5px solid $negro;
            border-radius: 20px 20px 20px 20px;
            -webkit-border-radius: 20px 20px 20px 20px;
            -moz-border-radius: 20px 20px 20px 20px;
            margin: 100px;
        }

        .div-vision {
            border: 5px solid $negro;
            border-radius: 20px 20px 20px 20px;
            -webkit-border-radius: 20px 20px 20px 20px;
            -moz-border-radius: 20px 20px 20px 20px;
            margin: 100px;
        }

        h2{
            color:$blanco;
        }

        .mb-3 {
            width: 800px;
            @include flex (column, center, center);
        }

        .btn {
            @include flex (column, center, center);
        }

    }
}